/* App.css */



  *{
    margin: 0;
    padding: 0;
  }

  .App {
    text-align: center;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-around; /* Puedes usar space-between, space-around, etc. según tus preferencias */
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan en una nueva línea si no hay espacio suficiente */
    margin: 0; /* Margen alrededor del contenedor */
    background-color: rgb(127, 168, 255);
  }
  
  .card {
    margin: 10px; /* Margen entre cada tarjeta */
    
  }
  
  .card-body{
    background-color: burlywood;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 button:hover {
    background-color: #0056b3;
  }